.game-settings-col {
  min-width: 140px;
}

/* Copy Bootstrap's `btn-*`, but with purple instead */
.btn-purple {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-purple);
  --bs-btn-border-color: var(--bs-purple);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-indigo);
  --bs-btn-hover-border-color: var(--bs-indigo);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-indigo);
  --bs-btn-active-border-color: var(--bs-indigo);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--bs-purple);
  --bs-btn-disabled-border-color: var(--bs-purple);
}

/* Copy Bootstrap's `btn-outline-*`, but with purple instead */
.btn-outline-purple {
  --bs-btn-color: var(--bs-purple);
  --bs-btn-border-color: var(--bs-purple);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-purple);
  --bs-btn-hover-border-color: var(--bs-purple);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-purple);
  --bs-btn-active-border-color: var(--bs-purple);
  --bs-btn-disabled-color: var(--bs-purple);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-purple);
  --bs-gradient: none;
}

img {
  width: 25px;
  height: 25px;
}

img.small-object {
  width: 20px;
  height: 20px;
}

img.time {
  width: 15px;
  height: 15px;
  position: relative;
  top: -2px;
}

.small-col {
  width: 0;
  white-space: nowrap;
}

.object-row th[scope="row"] {
  text-align: left;
}

textarea {
  resize: none;
}

[contenteditable] {
  text-align: start;
  width: 100%;
  height: 100%;
}

[contenteditable]:empty:before {
  content: attr(placeholder);
  color: gray;
  cursor: text;
}

#score-table thead th {
  white-space: nowrap;
}

.research-table-col {
  /* Exactly enough so that the dropdowns fit with the perfect padding. */
  min-width: 347px;
}

.moves-table-col {
  /* Exactly enough to fix the survey objects with the perfect padding. */
  min-width: 268px;
}
